<!DOCTYPE html>
<html>

<head>
    <%- include('../partials/header'); -%>
        <title>Account</title>
        <!-- title name for this page -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <!-- nav bar section -->
    <%- include('../partials/navbar'); -%>
        <main role="main">
            <% if (typeof data !== 'undefined') { %>
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                        <h1 class="display-4" style="color: black;">User information</h1>
                        <p class="lead" style="color:black;">User id:
                            <%= data.user_id %><br /> Mail :
                                <%= data.email %><br /> User name :
                                    <%= data.firstname %>
                                        <%= data.lastname %>
                        </p>
                    </div>
                </div>
                <% } %>
                    <% if (typeof log !== 'undefined') { %>
                        <div class="row d-flex justify-content-center" style="width:100%;">
                            <h2>Current login history</h2>
                            <ul>
                                <% for( let index = 0; index < log.length; index++ ) { %>
                                    <li>
                                        <%= log[index].create_at %>
                                    </li>
                                    <% } %>
                            </ul>
                        </div>
                        <% } %>


        </main>
        <%- include('../partials/bootstrap'); -%>

</body>

</html>